@model HouseDetailViewModel

@{
    ViewData["Title"] = "House Details";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div id="houseCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <!-- Carousel images -->
                    @foreach (var image in Model.Images)
                    {
                        <div class="carousel-item @(image == Model.Images.First() ? "active" : "")">
                            <img src="data:image/png;base64,@image.ImageUrl" class="d-block w-100" alt="House Image">
                        </div>
                    }
                </div>
                <!-- Carousel navigation buttons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#houseCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#houseCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-4">

            <ul class="list-group p-2">
                <li class="list-group-item active">@Model.House.Title</li>
                <li class="list-group-item"><i class="fa fa-solid fa-usd"></i> <b>Price</b>: @Model.House.Price</li>
                <li class="list-group-item"><i class="fa fa-map-marker" aria-hidden="true"></i> <b>Address</b>: @Model.House.Address</li>
                <li class="list-group-item"><i class="fa fa-bed" aria-hidden="true"></i> <b>Type</b>: @Model.House.TypeTitle</li>
                <li class="list-group-item"><i class="fa fa-calendar" aria-hidden="true"></i> <b>From Date</b>: @Model.House.FromDate</li>
                <li class="list-group-item"><i class="fa fa-calendar" aria-hidden="true"></i> <b>To Date</b>: @Model.House.ToDate</li>
                <li class="list-group-item"><i class="fa fa-comment-o" aria-hidden="true"></i> <b>Description</b>: @Model.House.Description</li>
            </ul>
            <!-- Check if the house is rented -->
            @if (Model.RentedHauses != null)
            {
                <ul class="list-group p-2">
                    <li class="list-group-item active">This hause is rented with you</li>
                    <li class="list-group-item"><i class="fa fa-calendar" aria-hidden="true"></i> <b>From Date</b>: @Model.RentedHauses.FromDate.ToString("yyyy-MM-dd")</li>
                    <li class="list-group-item"><i class="fa fa-calendar" aria-hidden="true"></i> <b>To Date</b>: @Model.RentedHauses.ToDate.ToString("yyyy-MM-dd")</li>
                    <li class="list-group-item"><i class="fa fa-user" aria-hidden="true"></i> <b>Number</b>: @Model.RentedHauses.Numbers</li>
                    <li class="list-group-item">
                        <div class="d-flex justify-content-start">
                            <a href="~/RentedHause/PreDelete/@Model.RentedHauses.Id" class="btn btn-danger btn-sm me-2">cancel</a>

                            <a href="~/RentedHause/Edit/@Model.RentedHauses.Id" class="btn btn-primary btn-sm">modify</a>
                        </div>
                    </li>
                </ul>
            }
            else
            {
                <ul class="list-group p-2">
                    <li class="list-group-item active">You Can Rent this hause</li>
                    <li class="list-group-item">
                        <div class="d-flex justify-content-start">
                            <a href="~/RentedHause/Create/@Model.House.Id" class="btn btn-primary btn-sm">Rent this hause</a>
                        </div>
                    </li>
                </ul>
            }
        </div>
    </div>
</div>
